body{
    background-image: url('../Images/back.jpg');
    background-size: cover;
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
}
.navbar1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    height: 48px;
    padding: 8px 20px;
    background-color: rgba( 64, 144, 172, 0.65 );
    
}
.nav-1 li{
    display: inline-block;
    padding: 6px;

 }
 .nav-3 li{
     display: inline-block;
     padding: 6px;
 }
 nav li {
     background-color:rgba( 64, 144, 172, 0.9 )
    
 }
#input{
 
    width: 120px;
    padding: 4px 0.5em;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: rgba( 64, 144, 172, 1 );
    color: white;
    font-size: 1.15em;
    color: black;
}
#input:focus{
    background-color: white;
}
div.nav-2{
    font-family: 'Galada', cursive;
    font-size: 1.9em;
    padding: 0px;
}
i{
    cursor: pointer;
}
i:hover{
    opacity: 0.4;
}
.navbar2{
    width: 100%;
    color: white;
    height: 40px;
    padding: 8px 20px;
    background-color:rgb(16, 16, 16,0.2);


#left{
    display: block;
    float: left;
}
nav.navbar2#right{
    float: right;
}
